<!DOCTYPE html>

<html>
  <head>
	  <title>Source Code</title>
    <link rel="stylesheet" type="text/css" href="/static/srcstyle.css">
  </head>
  <body>
	  {% block content %}
	  <h1>Filter {{level}}.0</h1>
	  <p>
triggers = <br>
["script", "onabort", "onblur", "onchange", "onclick", "ondblclick",<br>
"ondragdrop", "onerror", "onfocus", "onkeydown", "onkeypress",<br>
"onkeyup", "onload", "onmousedown", "onmousemove", "onmouseout",<br>
onmouseover", "onmouseup", "onmove", "onreset", "onresize",<br>
"onselect", "onsubmit", "onunload", "javascript"]<br>
<br>

{% if level == 1 %}

def filter(data):<blockquote>
	if(re.search("script", data, flags=re.IGNORECASE)):<blockquote>
		data = ""<br></blockquote>
	return data</blockquote>

{% elif level == 2 %}

def filter(data):<blockquote>
	for trig in triggers:<blockquote>
		while(re.search(trig, data, flags=re.IGNORECASE)):<blockquote>
			data=re.sub(trig,"",data, flags=re.IGNORECASE)</blockquote></blockquote>
	return data</blockquote>

{% elif level == 3 %}

def filter(data):<blockquote>
	for trig in triggers:<blockquote>
		if(re.search(trig, data, flags=re.IGNORECASE)):<blockquote>
			data=""<br>
			break</blockquote></blockquote>
	return data</blockquote>

{% else %}
def filter(data):<blockquote>
	data=""
	return data</blockquote>

{% endif %}

{% endblock %}
</p>
  </body>
</html>
