body {
	max-width: 32rem;
	margin: 0 auto;
	padding: .5rem;
}

textarea {
	box-sizing: border-box;
	width: 100%;
	resize: none;
}

input[type=submit] {
	float: right;
	background-color: black;
	color: white;
	border: none;
	padding: .5rem;
	border-radius: 2px;
	font-weight: bold;
}

h1{
	font-family: system-ui;
}

p{
	font-family: monospace;
	font-size: 12px;
}

blockquote{
	font-family: monospace;
	font-size: 12px;
}
